@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Varela+Round&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
h1 {
    color: black;
    text-align: center;
}

body,
button {
    font-family: 'Varela Round', sans-serif;
}

button {
    color: rebeccapurple;
    background-color: whitesmoke;
    font-size: 1rem;
    letter-spacing: -0.5px;
    border: 1px solid dimgray;
    border-radius: 5px;
    margin-top: 0.25rem;
    padding: 0.5rem 0.7rem;
}

button:hover {
    color: whitesmoke;
    background-color: rebeccapurple;
    cursor: pointer;
}

/* Game Title */
h1 {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 3.5rem;
    line-height: 5.5rem;
    margin-top: 1rem;
}

/* Game Info */
#banner p {
    font-size: 1.35rem;
    display: inline-block;
    margin: 0rem 0.2rem;
    padding-bottom: 0.75rem;
}

#next,
#limit {
    font-weight: bolder;
    color: whitesmoke;
    border: 1px solid dimgray;
    border-radius: 5px;
    padding: 0rem 0.4rem;
}

#limit {
    background-color: rebeccapurple;
}

#banner-ng {
    color: rebeccapurple
}

/* 4x4 Grid */
#game-area {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    padding: 0.65rem;
    border-radius: 15px;
    background-color: lightblue;
}

#game-area div {
    width: 4.25rem;
    height: 4.25rem;
    font-size: 3.5rem;
    font-weight: bolder;
    color: whitesmoke;
    border: 2px solid dimgray;
    border-radius: 10px;
    box-sizing: border-box;
}


#game-area div:hover {
    border: 3px solid whitesmoke;
    cursor: hand;
}

/* Counters & Buttons */
#counters p {
    font-size: 1.2rem;
    display: inline-block;
    margin: 1rem 0.25rem;
}

#level,
#blocks {
    font-weight: bolder;
    background-color: lightcyan;
    border: 1.5px solid dimgray;
    border-radius: 5px;
    padding: 0.25rem;
}

/* Hidden Options */
#hidden-options {
    width: 20rem;
    height: 0;
    margin: auto;
}

#confirmation,
#rules-text {
    display: none;
    position: relative;
    z-index: 1;
}

#rules-text {
    font-size: 0.95rem;
    background-color: whitesmoke;
    border: 2px solid dimgray;
    border-radius: 10px;
    padding: 0.75rem 0.5rem 1rem;
    margin-bottom: -28.5rem;
    top: -28.5rem;
}

#rules-text h3 {
    text-align: justify;
    padding: 0.5rem 0rem 0.2rem;
}

#rules-text p {
    text-align: justify;
    line-height: 1.25rem;
}

.rules-block {
    color: whitesmoke;
    border: 1px solid dimgray;
    border-radius: 5px;
    padding: 0rem 0.25rem;
}

.rules-b1 {
    background-color: crimson;
}

.rules-b2 {
    background-color: darkorange;
}

.rules-b3 {
    background-color: forestgreen;
}

.rules-b4 {
    background-color: royalblue;
}

.rules-lim {
    background-color: rebeccapurple;
}

#rules-text button {
    margin-top: 0.75rem;
}

#confirmation {
    background-color: white;
    padding-bottom: 0.5rem;
    margin-bottom: -2.65rem;
    top: -2.65rem;
}

/* Footer */
#design-info {
    width: 100%;
    font-size: 0.85rem;
    line-height: 4rem;
    position: relative;
}

/* Media queries for screens 350px and smaller */
@media screen and (max-width: 350px) {

    /* General */
    button {
        font-size: 0.9rem;
        padding: 0.4rem 0.5rem;
    }

    /* Game Title */
    h1 {
        font-size: 2.75rem;
        line-height: 5rem;
        margin-top: 0rem;
    }

    /* Game Info */
    #banner p {
        font-size: 1rem;
    }

    #next {
        padding: 0rem 0.3rem;
    }

    /* 4x4 Grid */
    #game-area div {
        width: 3rem;
        height: 3rem;
        font-size: 2.35rem;
    }

    /* Counters & Buttons */
    #counters p {
        font-size: 1rem;
        margin: 1rem 0.25rem;
    }

    #level,
    #blocks {
        padding: 0.25rem;
    }

    /* Hidden Options */
    #hidden-options {
        width: 16.5rem;
    }

    #rules-text {
        font-size: 0.8rem;
        top: -22.5rem;
        padding-bottom: 0.75rem;
    }

    #rules-text p {
        line-height: 1rem;
    }

    #confirmation {
        margin-bottom: -2.25rem;
        top: -2.25rem;
    }

    /* Footer */
    #design-info {
        font-size: 0.7rem;
        line-height: 3rem;
    }
}