@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Varela+Round&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #2c2c2c;
    text-align: center;
}

h1 {
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 500;
    color: #2c2c2c;
    font-size: 4rem;
    text-align: center;
    line-height: 8rem;
}

/* Game Area */
#game-area {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    background-color: #8aaabd;
    padding: 20px;
    border-radius: 16px;
}

#game-area div {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    border: 2px solid #2c2c2c;
    border-radius: 8px;
}

#game-area div:hover {
    border-color: whitesmoke;
}

/* Page Footer */
footer {
    line-height: 4rem;
}