@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Varela+Round&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
h1 {
    color: #2c2c2c;
    text-align: center;
}

body {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 4rem;
    line-height: 8rem;
}

/* Game Area */
#game-area {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0.75rem;
    padding: 15px;
    border-radius: 15px;
    background-color: #abc6d6;    
}

#game-area div {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    font-weight: bolder;
    color: whitesmoke;
    border: 2px solid #2c2c2c;
    border-radius: 10px;
}

#game-area div:hover {
    border-color: whitesmoke;
}

/* Page Footer */
footer {
    line-height: 5rem;
}